<!DOCTYPE html>
<html>
  <head>
    <form action="{{ url_for('tee') }}">
        <button type="submit" style="font-size: 18px; padding: 10px 20px;">ไปที่หน้า Title</button>
    </form>
    <title>แนะนำสถานที่ท่องเที่ยวสังขละบุรี จังหวัดกาญจนบุรี</title>
  </head>
  <body>
    <h1><center>สังขละบุรีเมืองเล็กๆ ในจังหวัดกาญจนบุรี</center></h1>
    <h1><center>ที่มีความสมบูรณ์ทางธรรมชาติและวัฒนธรรมของ 3 เชื้อชาติ ทั้งไทย มอญ และกระเหรี่ยง</center></h1>
 <h1><center>ซึ่งขอบอกเลยว่า ถ้าคุณได้ไปเยือนแล้ว คุณจะได้พบกับความสุข</center></h1>
 <h1><center>ชนิดที่เรียกได้ว่า “สุขจริงๆ” จากสังขละบุรีกลับไปแน่นอน</center></h1>
    <p></p>
    <center><img src="static/1.jpg"><img></center>
    <h3></h3>
      </body>
</html>